{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="section-grey" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Zaloguj, lub <a href="{{ path('app_register') }}">zarejestruj się</a></h1>
                    <label for="inputName" class="sr-only">Name</label>
                    <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" placeholder="Nazwa" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-lg btn-primary" type="submit">
                        Zaloguj
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
