{% for comment in comments %}
<article class="comment">
    <a class="comment-img" href="#non">
        <img src="https://pbs.twimg.com/profile_images/444197466133385216/UA08zh-B.jpeg" alt="" width="50" height="50">
    </a>
    <div class="comment-body">
        <div class="text">
            <p>{{ comment.content }}</p>
        </div>
        <p class="attribution">przez <strong>{{ comment.inputUser.getName() }}</strong> {{ comment.inputDate|date('m:d:Y \\o h:i') }}</p>
    </div>
</article>
{% endfor %}