{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
    </style>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Website!</div>
                <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
            </div>
        </div>
    </header>

    <section class="section-grey" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">City game</h2>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function initMap() {
            var poznan = {lat: 52.406374, lng: 16.9251681};
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: poznan});
            //var marker = new google.maps.Marker({position: poznan, map: map});
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWaW4sfXx-XJYP9rPTIlh_VKKuuFTg2sU&callback=initMap"></script>

{% endblock %}