{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="section-grey" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Zmień swoją nazwę użytkownika</h2>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <form id="rendered-form" action="{{ path('user_change_password') }}" method="post">
                    <div class="rendered-form">
                        <div class="fb-text form-group field-newName">
                            <label for="newName" class="fb-text-label">
                                Wprowadź nową nazwę użytkownika
                                <span class="fb-required">*</span>
                            </label>
                            <input type="password" placeholder="nowe hasło.." class="form-control" name="password" maxlength="255" id="newName" required="required" aria-required="true">
                        </div>
                        <div class="fb-button form-group field-submitChange">
                            <button type="submit" name="submitChange" id="submitChange">Zatwierdź</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}